* {
  margin: 0;
  padding: 0;
}

.App,
html,
#root,
body {
  /*   background-color: black;  for debugging */
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;

}

:root {
  --main-color: 'red';
}

.hidden {
  display: none !important;
}